.metadata/.plugins/org.eclipse.core.resources/.history/81/8085b1fb9b2200171665ebfd62e0cf1e
.metadata/.plugins/org.eclipse.core.resources/.history/a0/502b57e49c2200171665ebfd62e0cf1e
.metadata/.plugins/org.eclipse.core.resources/.history/ac/3078923c4f2300171b95cf1cc9a6168c
.metadata/.plugins/org.eclipse.core.resources/.root/26.tree
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.epp.logging.aeri.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.recommenders.rcp.prefs
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/_0.fdt
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/_0.fdx
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/_0.fnm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/_0.frq
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/_0.nrm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/_0.tii
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/_0.tis
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/segments.gen
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/segments_1
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_1.fdt
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_1.fdx
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_1.frq
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_1.nrm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_1.prx
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_1.tis
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_2.fdt
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_2.fdx
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_2.fnm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_2.frq
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_2.nrm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_2.prx
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_2.tii
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_2.tis
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/segments.gen
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/segments_3
.metadata/.plugins/org.eclipse.jdt.core/1039855981.index
.metadata/.plugins/org.eclipse.jdt.core/1269183262.index
.metadata/.plugins/org.eclipse.jdt.core/128816234.index
.metadata/.plugins/org.eclipse.jdt.core/129033162.index
.metadata/.plugins/org.eclipse.jdt.core/1358049608.index
.metadata/.plugins/org.eclipse.jdt.core/1368552266.index
.metadata/.plugins/org.eclipse.jdt.core/1548200603.index
.metadata/.plugins/org.eclipse.jdt.core/166776846.index
.metadata/.plugins/org.eclipse.jdt.core/2067893749.index
.metadata/.plugins/org.eclipse.jdt.core/2388919603.index
.metadata/.plugins/org.eclipse.jdt.core/2607506073.index
.metadata/.plugins/org.eclipse.jdt.core/2652778527.index
.metadata/.plugins/org.eclipse.jdt.core/2661381517.index
.metadata/.plugins/org.eclipse.jdt.core/3059158756.index
.metadata/.plugins/org.eclipse.jdt.core/3807279936.index
.metadata/.plugins/org.eclipse.jdt.core/4182530004.index
.metadata/.plugins/org.eclipse.jdt.core/4274237055.index
.metadata/.plugins/org.eclipse.jdt.core/680429552.index
.metadata/.plugins/org.eclipse.jdt.core/indexNamesMap.txt
.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.6.0.20150526-2032.xml
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_0.fdt
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_0.fdx
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_0.fnm
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_0.frq
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_0.nrm
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_0.prx
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_0.tii
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_0.tis
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/segments.gen
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/segments_1
JavaProject/bin/tw/ithill/practice/SQLString.class
