body {
}
 h2 {
             color:aqua;
             text-decoration:dashed;
            }
            h3 {
             color:yellow;
             font-size:3em;
             text-transform:uppercase;
            }