USE [master]
GO
/****** Object:  Database [sample1]    Script Date: 2017/4/21 下午 03:07:47 ******/
CREATE DATABASE [sample1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'sample1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\sample1.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'sample1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\sample1_log.ldf' , SIZE = 1040KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [sample1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [sample1]
GO
/****** Object:  Table [dbo].[member2]    Script Date: 2017/4/21 下午 03:07:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[member2](
	[id] [int] NULL,
	[name] [char](10) NULL,
	[bdate] [datetime] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[member3]    Script Date: 2017/4/21 下午 03:07:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[member3](
	[id] [int] IDENTITY(10,1) NOT NULL,
	[name] [char](10) NULL,
	[bdate] [datetime] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[member3] ON 

INSERT [dbo].[member3] ([id], [name], [bdate]) VALUES (10, N'John      ', CAST(0x0000737200000000 AS DateTime))
INSERT [dbo].[member3] ([id], [name], [bdate]) VALUES (11, N'Mary      ', CAST(0x000074B600000000 AS DateTime))
INSERT [dbo].[member3] ([id], [name], [bdate]) VALUES (15, N'Smith     ', CAST(0x0000752B00000000 AS DateTime))
SET IDENTITY_INSERT [dbo].[member3] OFF
USE [master]
GO
